@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shadows+Into+Light&display=swap');

:root {
  --main-bg-color: #afeeee;
  --btn-color: #20b2aa;
}

* {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Shadows Into Light', cursive; */
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: var(--main-bg-color);
}

main {
  min-height: calc(100vh - 160px);
}

a {
  text-decoration: none;
  color: black;
}

footer {
  position: relative;
  height: 80px;
  background-color: var(--main-bg-color);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
